{{ 'section-size-popup.css' | asset_url | stylesheet_tag }}
<script> 
window.addEventListener("load",  function(event) {

})
</script>
{%- style -%}
 
{%- endstyle -%} 

<input type="checkbox" id="size-modal-section" class="modal-toggle" />
<div class="modal">
    <div class="modal-box">
        <label class="modal-close" for="size-modal-section">&times;</label>
        <div class="content">
                <div class="small-hide medium-hide">
                  <img src="https://cdn.shopify.com/s/files/1/0123/7791/5492/files/newsize.webp?v=1671551676" alt="size chart" style="max-height: 650px;width: 100%;">
                </div> 
                <div class="large-up-hide">
                   <div class="" style="height: 550px;
                      overflow-x: auto;
                      overflow-y: hidden;
                      max-height: 100%;">
                      <img src="https://cdn.shopify.com/s/files/1/0123/7791/5492/files/newsize.webp?v=1671551676" alt="size chart" style="max-width: 740px;">
                    </div>
                </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "size popup",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "SIGN UP FOR OUR NEWSLETTER RECEIVE 10% OFF"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Main picture"
      }
    ],
    "presets": [
      {
      "name": "size-popup",
      "category": "Custom"
      }
    ]
  }
{% endschema %}
